{% extends 'accounts/main.html' %}

{% block content %}
<h4><u>About</u></h4>
<br>
<br>
<br>
<br>
<p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">Kensington Livestock Palace (KLP) is an agricultural project which is located in Bulawayo,Zimbabwe.
	<br>
	The Project has interests in livestock breeding, marketing and has the <b><i>best</i></b> of the farmers educated with <i>necessary skills</i>
	<br>
	to make it successful to achieve its objectives.&copy
</p>

{% endblock content %}