{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<h4><u>Fish</u></h4>
<br>
<img src="{% static 'images/pond.jpg'%}">
<br>
<p>KLP Investment has 3 dams on the farm which are mainly for fisheries. The types of Fish
	<br>
	found in these dams include Chiloglanis emarginatus,African butter catfish,Silver Labeo,
	<br>
	Spotted killifish,Astatotilapia calliptera,Leaden labeo just but a few to mention. The fish in 
	<br>these ponds are ordered from the great Zambezi lake as small fries and are supplied leaves 
	<br>
	of river tamarind and sweet potato leaves. Chicken droppings too are tied in a sack and placed on the ponds as 
	<br>
	promote the growth of algae which fish feed on.
</p>
{% endblock content %}